<div class="row-fluid" data-bind="foreach: debug_message.items">
    <div class="row-fluid">
        <div class="span6" data-bind="text: key"></div><div class="span6" data-bind="text: value"></div>
    </div>
</div>